{{ define "main" }}
	<main id="main">
		{{ $listtitle := .Title }}
		{{ if or .Title .Content }}
			<header>
				{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
				{{ with .Param "images" }}
					{{ with index . 0 }}
						<figure class="big">
							<img class="lazyload blur-up" data-src="{{ .|relURL }}" />
						</figure>
					{{ end }}
				{{ end }}
				{{ with .Content }}<p>{{ . }}</p>{{ end }}
			</header>
		{{ end }}

		{{ range .Paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
