<article class="article-summary">
  <header>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <time aria-label="published at"
      >{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time
    >
    {{ with .ReadingTime }}
      <span class="reading-time">{{ . }} minute read</span>
    {{ end }}
    {{ range .Params.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </header>
  <p>
    {{ default .Summary .Description }}
    {{ if and (eq .Description "") .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </p>
</article>
