{{ $img := (.Page.Resources.GetMatch (.Get "src")) }}
{{ if and (eq $img nil) (fileExists (.Get "src")) }}
	{{ $img = (printf "content/%s" (.Get "src"))| imageConfig }}
{{ end }}
<figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
	<img
		class="lazyload blur-up"
		loading="lazy"
		data-src="{{ .Get "src" }}"
		{{ with $img }}
			width="{{ .Width }}" height="{{ .Height }}"
		{{ end }}
	/>
	{{ with (default (.Get "title") (.Get "caption")) }}
		<figcaption><p>{{ . }}</p></figcaption>
	{{ end }}
</figure>
